 comparing the elements of two Pandas series.

In [9]:
import pandas as pd

#sample Series
data1 = pd.Series([4,8,16,32,64])
data2 = pd.Series([9,25,36,49,81])

# Comparing elements of the two Series
result = data1 == data2

# Print the result
print(result)

0    False
1    False
2    False
3    False
4    False
dtype: bool

Pandas program to add, subtract, multiply and divide two Pandas series

In [10]:
import pandas as pd

#The two sample Series
data1 = pd.Series([2, 4, 6, 8, 10])
data2 = pd.Series([1, 3, 5, 7, 9])

# Performing the addition
addition_result = data1 + data2
print("Addition results:")
print(addition_result)

# Perform subtraction
subtraction_result = data1 - data2
print("\nSubtraction results:")
print(subtraction_result)

# Perform multiplication
multiplication_result = data1 * data2
print("\nMultiplication results:")
print(multiplication_result)

# Perform division
division_result = data1 / data2
print("\nDivision results:")
print(division_result)

Addition results:
0     3
1     7
2    11
3    15
4    19
dtype: int64

Subtraction results:
0    1
1    1
2    1
3    1
4    1
dtype: int64

Multiplication results:
0     2
1    12
2    30
3    56
4    90
dtype: int64

Division results:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

Pandas program to convert a dictionary to a Pandas series.

In [3]:
import pandas as pd
dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}

# Converting the dictionary to a Series
series1 = pd.Series(dictionary1)
print(series1)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

 Pandas program to convert a given series to an array.

In [8]:
import pandas as pd
import numpy as np
series1 = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])

# Converting the series to an array
array1 = np.array(series1)
print(array1)

['Love' 800 'Joy' 789.9 'Peace' True]

Pandas program to display the most frequent value in the given series and replace everything else as ‘Other’ in the series.

In [18]:
import pandas as pd
df = pd.read_csv('AfricaCupofNationsMatches.csv')
print(df)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 708: invalid continuation byte

In [19]:
import pandas as pd
most_frequent_value = df['HomeTeamGoals'].value_counts().idxmax()

# Replacing everything else with 'Other' in the series
df.loc[df['HomeTeamGoals'] != most_frequent_value, 'HomeTeamGoals'] = 'Other'
print(df['HomeTeamGoals'])

NameError: name 'df' is not defined

DATAFRAMES Pandas program to read the given csv file

In [5]:
import pandas as pd
df = pd.read_csv('AfricaCupofNationsMatches.csv')
print(df)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0            0.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance
0              Municipal Stadium   Khartoum     30000.0
1                            NaN        NaN         NaN
2              Municipal Stadium   Khartoum     30000.0
3          Prince Farouk Stadium      Cairo     30000.0
4          Prince Farouk Stadium      Cairo     20000.0
..                           ...        ...         ...
617             Al Salam Stadium      Cairo      7568.0
618              30 June Stadium      Cairo      9143.0
619  Cairo International Stadium      Cairo     49775.0
620             Al Salam Stadium      Cairo      6340.0
621  Cairo International Stadium      Cairo     75000.0

[622 rows x 12 columns]

Pandas program to get the first 7 rows of your data frame

In [9]:
first_7_rows = df.head(7)
print(first_7_rows)

   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59   NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62   NaN  Ethiopia         Tunisia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0

Pandas program to select the ‘HomeTeam’, ‘AwayTeam’, ‘HomeTeamGoals’ and ‘AwayTeamGoals’ columns from your data frame

In [12]:
selected_columns = df[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]
print(selected_columns)

        HomeTeam       AwayTeam HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt           1.0            2.0
1      Ethiopia    South Africa         Other            NaN
2         Egypt        Ethiopia         Other            0.0
3          Egypt       Ethiopia         Other            0.0
4         Sudan        Ethiopia           1.0            0.0
..           ...            ...           ...            ...
617  Madagascar         Tunisia         Other            3.0
618     Senegal         Tunisia           1.0            0.0
619     Algeria         Nigeria         Other            1.0
620     Tunisia         Nigeria         Other            1.0
621     Senegal         Algeria         Other            1.0

[622 rows x 4 columns]

Pandas program to select the rows where Egypt appears.

In [20]:
Rows_with_Egypt = df[df== 'Egypt']
print(Rows_with_Egypt)

     Year Date  Time  HomeTeam AwayTeam HomeTeamGoals  AwayTeamGoals Stage  \
0     NaN   NaN   NaN      NaN      NaN           NaN            NaN   NaN
1     NaN   NaN   NaN      NaN      NaN           NaN            NaN   NaN
2     NaN   NaN   NaN      NaN      NaN           NaN            NaN   NaN
3     NaN   NaN   NaN    Egypt      NaN           NaN            NaN   NaN
4     NaN   NaN   NaN      NaN      NaN           NaN            NaN   NaN
..    ...   ...   ...      ...      ...           ...            ...   ...
617   NaN   NaN   NaN      NaN      NaN           NaN            NaN   NaN
618   NaN   NaN   NaN      NaN      NaN           NaN            NaN   NaN
619   NaN   NaN   NaN      NaN      NaN           NaN            NaN   NaN
620   NaN   NaN   NaN      NaN      NaN           NaN            NaN   NaN
621   NaN   NaN   NaN      NaN      NaN           NaN            NaN   NaN

    SpecialWinConditions Stadium City  Attendance
0                    NaN     NaN  NaN         NaN
1                    NaN     NaN  NaN         NaN
2                    NaN     NaN  NaN         NaN
3                    NaN     NaN  NaN         NaN
4                    NaN     NaN  NaN         NaN
..                   ...     ...  ...         ...
617                  NaN     NaN  NaN         NaN
618                  NaN     NaN  NaN         NaN
619                  NaN     NaN  NaN         NaN
620                  NaN     NaN  NaN         NaN
621                  NaN     NaN  NaN         NaN

[622 rows x 12 columns]

 Pandas program to count the number of rows and columns of your data frame

In [22]:
# Count the number of rows
num_rows = len(df)

# Count the number of columns
num_cols = len(df.columns)

# Print the number of rows and columns
print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 622
Number of columns: 12

 Pandas program to select the rows where the ‘Attendance’ is missing

In [23]:
missing_attendance = df[df['Attendance'].isnull()]
print(missing_attendance)

     Year                         Date   Time        HomeTeam       AwayTeam  \
1    1957                     10-Feb-57    NaN      Ethiopia    South Africa
8    1962                     20-Jan-62    NaN       Tunisia          Uganda
9    1962                     21-Jan-62    NaN      Ethiopia           Egypt
10   1963                     24-Nov-63    NaN         Ghana         Tunisia
11   1963                     26-Nov-63    NaN         Ghana        Ethiopia
..    ...                           ...    ...            ...            ...
565  2017  29 January 2017 (2017-01-29)  20:00         Egypt         Morocco
566  2017  1 February 2017 (2017-02-01)  20:00  Burkina Faso           Egypt
567  2017  2 February 2017 (2017-02-02)  20:00      Cameroon           Ghana
568  2017  4 February 2017 (2017-02-04)  20:00  Burkina Faso           Ghana
569  2017  5 February 2017 (2017-02-05)  20:00         Egypt        Cameroon

    HomeTeamGoals  AwayTeamGoals                 Stage  \
1           Other            NaN            Semifinals
8           Other            0.0     Third place match
9           Other            2.0                 Final
10            1.0            1.0               Group A
11          Other            0.0               Group A
..            ...            ...                   ...
565           1.0            0.0        Quarter-finals
566           1.0            1.0           Semi-finals
567         Other            0.0           Semi-finals
568           1.0            0.0  Third place play-off
569           1.0            2.0                 Final

                                  SpecialWinConditions  \
1    Ethiopia  wins due to disqualification of othe...
8                                                  NaN
9                                win after extra time
10                                                 NaN
11                                                 NaN
..                                                 ...
565                                                NaN
566                        Egypt win on Penalities 3-4
567                                                NaN
568                                                NaN
569                                                NaN

                    Stadium          City  Attendance
1                       NaN           NaN         NaN
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
10     Accra Sports Stadium         Accra         NaN
11     Accra Sports Stadium         Accra         NaN
..                      ...           ...         ...
565    Stade de Port-Gentil   Port-Gentil         NaN
566       Stade de l'Amitié    Libreville         NaN
567    Stade de Franceville   Franceville         NaN
568    Stade de Port-Gentil   Port-Gentil         NaN
569       Stade de l'Amitié    Libreville         NaN

[100 rows x 12 columns]

Pandas program to select the rows where the ‘HomeTeamGoals’ are between 3 and 6 inclusive.

In [30]:
df['HomeTeamGoals'] = pd.to_numeric(df['HomeTeamGoals'], errors='coerce')

# Select the rows where 'HomeTeamGoals' are between 3 and 6 (inclusive)
filtered_rows = df[(df['HomeTeamGoals'] >= 3) & (df['HomeTeamGoals'] <= 6)]

# Print the selected rows
print(filtered_rows)

Empty DataFrame
Columns: [Year, Date , Time , HomeTeam, AwayTeam, HomeTeamGoals, AwayTeamGoals, Stage, SpecialWinConditions, Stadium, City, Attendance]
Index: []

Pandas program to change the “AwayTeamGoals” in the 3rd row to 10

In [31]:
df.at[2, 'AwayTeamGoals'] = 10
print(df)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              NaN           10.0                 Final
3              NaN            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            NaN            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            NaN            1.0           Semi-finals
620            NaN            1.0  Third place play-off
621            NaN            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance
0              Municipal Stadium   Khartoum     30000.0
1                            NaN        NaN         NaN
2              Municipal Stadium   Khartoum     30000.0
3          Prince Farouk Stadium      Cairo     30000.0
4          Prince Farouk Stadium      Cairo     20000.0
..                           ...        ...         ...
617             Al Salam Stadium      Cairo      7568.0
618              30 June Stadium      Cairo      9143.0
619  Cairo International Stadium      Cairo     49775.0
620             Al Salam Stadium      Cairo      6340.0
621  Cairo International Stadium      Cairo     75000.0

[622 rows x 12 columns]

 Pandas program to sort the DataFrame first by ‘HomeTeam’ in ascending order, then by ‘HomeTeamGoals’ in descending order.

In [44]:
sorted_df = df.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])
print(sorted_df)

     Year                         Date           Time    HomeTeam  \
133  1980                     13-Mar-80            NaN   Algeria
148  1982                      7-Mar-82            NaN   Algeria
193  1988                     19-Mar-88            NaN   Algeria
220  1990                     16-Mar-90          16:00   Algeria
229  1992                     17-Jan-92            NaN   Algeria
..    ...                           ...            ...        ...
521  2012                     12-Feb-12  20:30[note 1]    Zambia
398  2004                     25-Jan-04          16:30  Zimbabwe
437  2006                     23-Jan-06          20:00  Zimbabwe
549  2017  23 January 2017 (2017-01-23)          20:00  Zimbabwe
575  2019     30 June 2019 (2019-06-30)          21:00  Zimbabwe

         AwayTeam  HomeTeamGoals  AwayTeamGoals    Stage  \
133       Morocco            1.0            0.0  Group B
148        Zambia            1.0            0.0  Group B
193         Zaire            1.0            0.0  Group A
220       Nigeria            1.0            0.0    Final
229         Congo            1.0            1.0  Group C
..            ...            ...            ...      ...
521   Ivory Coast            NaN            0.0    Final
398         Egypt            1.0            2.0  Group C
437       Senegal            NaN            2.0  Group D
549       Tunisia            NaN            4.0  Group B
575      DR Congo            NaN            4.0  Group A

              SpecialWinConditions                   Stadium         City  \
133                            NaN           Liberty Stadium       Ibadan
148                            NaN          28 March Stadium     Benghazi
193                            NaN           Stade Mohamed V   Casablanca
220                            NaN      Stade 5 Juillet 1962      Algiers
229                            NaN  Stade Aline Sitoe Diatta   Ziguinchor
..                             ...                       ...          ...
521  Zambia  win on Penalities 8-7          Stade d'Angondjé   Libreville
398                            NaN      Stade Taïeb El Mhiri         Sfax
437                            NaN         Port Said Stadium    Port Said
549                            NaN         Stade de l'Amitié   Libreville
575                            NaN           30 June Stadium        Cairo

     Attendance bestteam
133     20000.0    Egypt
148      5000.0    Egypt
193     75000.0    Egypt
220    105032.0    Egypt
229      5000.0    Egypt
..          ...      ...
521     40000.0    Egypt
398     22000.0    Egypt
437     15000.0    Egypt
549         NaN    Egypt
575      4364.0    Egypt

[622 rows x 13 columns]

Pandas program to get list from DataFrame column headers.

In [33]:
column_headers = list(df.columns)
print(column_headers)

['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

Pandas program to append a column of your choice to your DataFrame.

In [41]:
BestTeam = ['Egypt'] * len(df)
df['bestteam'] = BestTeam

print(df)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              NaN           10.0                 Final
3              NaN            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            NaN            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            NaN            1.0           Semi-finals
620            NaN            1.0  Third place play-off
621            NaN            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance bestteam
0              Municipal Stadium   Khartoum     30000.0    Egypt
1                            NaN        NaN         NaN    Egypt
2              Municipal Stadium   Khartoum     30000.0    Egypt
3          Prince Farouk Stadium      Cairo     30000.0    Egypt
4          Prince Farouk Stadium      Cairo     20000.0    Egypt
..                           ...        ...         ...      ...
617             Al Salam Stadium      Cairo      7568.0    Egypt
618              30 June Stadium      Cairo      9143.0    Egypt
619  Cairo International Stadium      Cairo     49775.0    Egypt
620             Al Salam Stadium      Cairo      6340.0    Egypt
621  Cairo International Stadium      Cairo     75000.0    Egypt

[622 rows x 13 columns]

Pandas program to add 2 rows to your DataFrame.

In [57]:
print(df.columns)

Index(['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals',
       'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City',
       'Attendance', 'bestteam'],
      dtype='object')

In [60]:
new_rows = [{'Year': 2023, 
                'Date': "14 July 2019 (2019-07-14)", 
                'Time': "21:30" ,
                'HomeTeam': "WillyTech",
                'AwayTeam':"Somalia",
                 'HomeTeamGoals':20,
                 'AwayTeamGoals':4,
                 'Stage': "Final",
                 'SpecialWinConditions':"Penalty",
                 'Stadium': "Kataka",
                 'City':"Kamuli",
                 'Attendance': 30000,
                 },{'Year': 2022, 
                'Date': "14 June 2019 (2019-06-14)", 
                'Time': "21:40" ,
                'HomeTeam': "Kcee",
                'AwayTeam':"Pcee",
                 'HomeTeamGoals':2,
                 'AwayTeamGoals':6,
                 'Stage': "Semi_Final",
                 'SpecialWinConditions':"Full Time",
                 'Stadium': "Kakiika",
                 'City':"Kamuli",
                 'Attendance': 8000,
                  }]

# Create a DataFrame from the new rows
new_df = pd.DataFrame(new_rows)

# Append the new DataFrame to the original DataFrame
df = df.append(new_df, ignore_index=True)

# Print the updated DataFrame
print(df)

     Year                     Date   Time      HomeTeam       AwayTeam  \
0    1957                 10-Feb-57    NaN       Sudan           Egypt
1    1957                 10-Feb-57    NaN    Ethiopia    South Africa
2    1957                 16-Feb-57    NaN       Egypt        Ethiopia
3    1959                 22-May-59    NaN        Egypt       Ethiopia
4    1959                 25-May-59    NaN       Sudan        Ethiopia
..    ...                       ...    ...          ...            ...
611  2019  7 July 2019 (2019-07-07)  21:00     Algeria          Guinea
612  2023                       NaN    NaN  Nserekolauv        Somalia
613  2023                       NaN    NaN  Nserekolauv        Somalia
614  2023                       NaN    NaN    WillyTech        Somalia
615  2022                       NaN    NaN         Kcee           Pcee

     HomeTeamGoals  AwayTeamGoals             Stage  \
0              1.0            2.0        Semifinals
1              NaN            NaN        Semifinals
2              NaN           10.0             Final
3              NaN            0.0  Final Tournament
4              1.0            0.0  Final Tournament
..             ...            ...               ...
611            NaN            0.0       Round of 16
612           20.0            4.0             Final
613           20.0            4.0             Final
614           20.0            4.0             Final
615            2.0            6.0        Semi_Final

                                  SpecialWinConditions                Stadium  \
0                                                  NaN      Municipal Stadium
1    Ethiopia  wins due to disqualification of othe...                    NaN
2                                                  NaN      Municipal Stadium
3                                                  NaN  Prince Farouk Stadium
4                                                  NaN  Prince Farouk Stadium
..                                                 ...                    ...
611                                                NaN        30 June Stadium
612                                            Penalty                 Kataka
613                                            Penalty                 Kataka
614                                            Penalty                 Kataka
615                                          Full Time                Kakiika

          City  Attendance bestteam                       Date   Time  \
0     Khartoum     30000.0    Egypt                        NaN    NaN
1          NaN         NaN    Egypt                        NaN    NaN
2     Khartoum     30000.0    Egypt                        NaN    NaN
3        Cairo     30000.0    Egypt                        NaN    NaN
4        Cairo     20000.0    Egypt                        NaN    NaN
..         ...         ...      ...                        ...    ...
611      Cairo      8205.0    Egypt                        NaN    NaN
612    Mitchel     30000.0      NaN  14 July 2019 (2019-07-14)  21:30
613    Mitchel     30000.0      NaN  14 July 2019 (2019-07-14)  21:30
614     Kamuli     30000.0      NaN  14 July 2019 (2019-07-14)  21:30
615     Kamuli      8000.0      NaN  14 June 2019 (2019-06-14)  21:40

    PearlOfAfrica
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
..            ...
611           NaN
612          True
613          True
614           NaN
615           NaN

[616 rows x 16 columns]

C:\Users\willy\AppData\Local\Temp\ipykernel_10152\1826753636.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_df, ignore_index=True)

Pandas program to change the country ‘Uganda’ to ‘China’ in the ‘AwayTeam’ column of the DataFrame.

In [42]:
df.loc[df['AwayTeam'] == 'Uganda', 'AwayTeam'] = 'China'
print(df)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              NaN           10.0                 Final
3              NaN            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            NaN            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            NaN            1.0           Semi-finals
620            NaN            1.0  Third place play-off
621            NaN            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance bestteam
0              Municipal Stadium   Khartoum     30000.0    Egypt
1                            NaN        NaN         NaN    Egypt
2              Municipal Stadium   Khartoum     30000.0    Egypt
3          Prince Farouk Stadium      Cairo     30000.0    Egypt
4          Prince Farouk Stadium      Cairo     20000.0    Egypt
..                           ...        ...         ...      ...
617             Al Salam Stadium      Cairo      7568.0    Egypt
618              30 June Stadium      Cairo      9143.0    Egypt
619  Cairo International Stadium      Cairo     49775.0    Egypt
620             Al Salam Stadium      Cairo      6340.0    Egypt
621  Cairo International Stadium      Cairo     75000.0    Egypt

[622 rows x 13 columns]

Pandas program to reset index in your DataFrame

In [43]:
df = df.reset_index(drop=True)
print(df)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              NaN           10.0                 Final
3              NaN            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            NaN            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            NaN            1.0           Semi-finals
620            NaN            1.0  Third place play-off
621            NaN            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance bestteam
0              Municipal Stadium   Khartoum     30000.0    Egypt
1                            NaN        NaN         NaN    Egypt
2              Municipal Stadium   Khartoum     30000.0    Egypt
3          Prince Farouk Stadium      Cairo     30000.0    Egypt
4          Prince Farouk Stadium      Cairo     20000.0    Egypt
..                           ...        ...         ...      ...
617             Al Salam Stadium      Cairo      7568.0    Egypt
618              30 June Stadium      Cairo      9143.0    Egypt
619  Cairo International Stadium      Cairo     49775.0    Egypt
620             Al Salam Stadium      Cairo      6340.0    Egypt
621  Cairo International Stadium      Cairo     75000.0    Egypt

[622 rows x 13 columns]

Pandas program to check whether the ‘Stadium’ column is present in your DataFrame or not.

In [45]:
is_stadium_present = 'Stadium' in df.columns.tolist()
if is_stadium_present:
    print("The 'Stadium' column is present in the DataFrame.")
else:
    print("The 'Stadium' column is not present in the DataFrame.")

The 'Stadium' column is present in the DataFrame.

Pandas program to convert the datatype of the ‘AwayTeamGoals’. (int to float)

In [46]:
df['AwayTeamGoals'] = df['AwayTeamGoals'].astype(float)
print(df)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              NaN           10.0                 Final
3              NaN            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            NaN            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            NaN            1.0           Semi-finals
620            NaN            1.0  Third place play-off
621            NaN            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance bestteam
0              Municipal Stadium   Khartoum     30000.0    Egypt
1                            NaN        NaN         NaN    Egypt
2              Municipal Stadium   Khartoum     30000.0    Egypt
3          Prince Farouk Stadium      Cairo     30000.0    Egypt
4          Prince Farouk Stadium      Cairo     20000.0    Egypt
..                           ...        ...         ...      ...
617             Al Salam Stadium      Cairo      7568.0    Egypt
618              30 June Stadium      Cairo      9143.0    Egypt
619  Cairo International Stadium      Cairo     49775.0    Egypt
620             Al Salam Stadium      Cairo      6340.0    Egypt
621  Cairo International Stadium      Cairo     75000.0    Egypt

[622 rows x 13 columns]

Pandas program to remove the last 10 rows from your DataFrame

In [47]:
df = df.iloc[:-10]
print(df)

     Year                     Date   Time      HomeTeam       AwayTeam  \
0    1957                 10-Feb-57    NaN       Sudan           Egypt
1    1957                 10-Feb-57    NaN    Ethiopia    South Africa
2    1957                 16-Feb-57    NaN       Egypt        Ethiopia
3    1959                 22-May-59    NaN        Egypt       Ethiopia
4    1959                 25-May-59    NaN       Sudan        Ethiopia
..    ...                       ...    ...          ...            ...
607  2019  5 July 2019 (2019-07-05)  21:00      Uganda         Senegal
608  2019  6 July 2019 (2019-07-06)  18:00     Nigeria        Cameroon
609  2019  6 July 2019 (2019-07-06)  21:00       Egypt    South Africa
610  2019  7 July 2019 (2019-07-07)  18:00  Madagascar        DR Congo
611  2019  7 July 2019 (2019-07-07)  21:00     Algeria          Guinea

     HomeTeamGoals  AwayTeamGoals             Stage  \
0              1.0            2.0        Semifinals
1              NaN            NaN        Semifinals
2              NaN           10.0             Final
3              NaN            0.0  Final Tournament
4              1.0            0.0  Final Tournament
..             ...            ...               ...
607            NaN            1.0       Round of 16
608            NaN            2.0       Round of 16
609            NaN            1.0       Round of 16
610            NaN            2.0       Round of 16
611            NaN            0.0       Round of 16

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
607                                                NaN
608                                                NaN
609                                                NaN
610                  Madagascar  win on Penalities 4-2
611                                                NaN

                         Stadium         City  Attendance bestteam
0              Municipal Stadium     Khartoum     30000.0    Egypt
1                            NaN          NaN         NaN    Egypt
2              Municipal Stadium     Khartoum     30000.0    Egypt
3          Prince Farouk Stadium        Cairo     30000.0    Egypt
4          Prince Farouk Stadium        Cairo     20000.0    Egypt
..                           ...          ...         ...      ...
607  Cairo International Stadium        Cairo      6950.0    Egypt
608           Alexandria Stadium   Alexandria     10000.0    Egypt
609  Cairo International Stadium        Cairo     75000.0    Egypt
610           Alexandria Stadium   Alexandria      5890.0    Egypt
611              30 June Stadium        Cairo      8205.0    Egypt

[612 rows x 13 columns]

Pandas program to iterate over rows in your DataFrame.

In [51]:
for index, row in df.iterrows():
    print(f"Row index: {index}")
    for column in range(12):
        print(f"Value in column {column+1}: {row[column]}")
    print()

Row index: 0
Value in column 1: 1957
Value in column 2: 10-Feb-57
Value in column 3: nan
Value in column 4: Sudan
Value in column 5:  Egypt
Value in column 6: 1.0
Value in column 7: 2.0
Value in column 8: Semifinals
Value in column 9: nan
Value in column 10: Municipal Stadium
Value in column 11:  Khartoum
Value in column 12: 30000.0

Row index: 1
Value in column 1: 1957
Value in column 2: 10-Feb-57
Value in column 3: nan
Value in column 4: Ethiopia
Value in column 5:  South Africa
Value in column 6: nan
Value in column 7: nan
Value in column 8: Semifinals
Value in column 9: Ethiopia  wins due to disqualification of other team
Value in column 10: nan
Value in column 11: nan
Value in column 12: nan

Row index: 2
Value in column 1: 1957
Value in column 2: 16-Feb-57
Value in column 3: nan
Value in column 4: Egypt
Value in column 5:  Ethiopia
Value in column 6: nan
Value in column 7: 10.0
Value in column 8: Final
Value in column 9: nan
Value in column 10: Municipal Stadium
Value in column 11:  Khartoum
Value in column 12: 30000.0

Row index: 3
Value in column 1: 1959
Value in column 2: 22-May-59
Value in column 3: nan
Value in column 4: Egypt
Value in column 5:  Ethiopia
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Final Tournament
Value in column 9: nan
Value in column 10: Prince Farouk Stadium
Value in column 11:  Cairo
Value in column 12: 30000.0

Row index: 4
Value in column 1: 1959
Value in column 2: 25-May-59
Value in column 3: nan
Value in column 4: Sudan
Value in column 5:  Ethiopia
Value in column 6: 1.0
Value in column 7: 0.0
Value in column 8: Final Tournament
Value in column 9: nan
Value in column 10: Prince Farouk Stadium
Value in column 11:  Cairo
Value in column 12: 20000.0

Row index: 5
Value in column 1: 1959
Value in column 2: 29-May-59
Value in column 3: nan
Value in column 4: Egypt
Value in column 5:  Sudan
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Final Tournament
Value in column 9: nan
Value in column 10: Prince Farouk Stadium
Value in column 11:  Cairo
Value in column 12: 30000.0

Row index: 6
Value in column 1: 1962
Value in column 2: 14-Jan-62
Value in column 3: nan
Value in column 4: Ethiopia
Value in column 5:  Tunisia
Value in column 6: nan
Value in column 7: 2.0
Value in column 8: Semifinals
Value in column 9: nan
Value in column 10: Hailé Sélassié Stadium
Value in column 11:  Addis Ababa
Value in column 12: 30000.0

Row index: 7
Value in column 1: 1962
Value in column 2: 18-Jan-62
Value in column 3: nan
Value in column 4: Egypt
Value in column 5:  Uganda
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Semifinals
Value in column 9: nan
Value in column 10: Hailé Sélassié Stadium
Value in column 11:  Addis Ababa
Value in column 12: 30000.0

Row index: 8
Value in column 1: 1962
Value in column 2: 20-Jan-62
Value in column 3: nan
Value in column 4: Tunisia
Value in column 5:  Uganda
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Third place match
Value in column 9: nan
Value in column 10: Hailé Sélassié Stadium
Value in column 11:  Addis Ababa
Value in column 12: nan

Row index: 9
Value in column 1: 1962
Value in column 2: 21-Jan-62
Value in column 3: nan
Value in column 4: Ethiopia
Value in column 5: Egypt
Value in column 6: nan
Value in column 7: 2.0
Value in column 8: Final
Value in column 9:  win after extra time
Value in column 10: Hailé Sélassié Stadium
Value in column 11:  Addis Ababa
Value in column 12: nan

Row index: 10
Value in column 1: 1963
Value in column 2: 24-Nov-63
Value in column 3: nan
Value in column 4: Ghana
Value in column 5:  Tunisia
Value in column 6: 1.0
Value in column 7: 1.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Accra Sports Stadium
Value in column 11:  Accra
Value in column 12: nan

Row index: 11
Value in column 1: 1963
Value in column 2: 26-Nov-63
Value in column 3: nan
Value in column 4: Ghana
Value in column 5:  Ethiopia
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Accra Sports Stadium
Value in column 11:  Accra
Value in column 12: nan

Row index: 12
Value in column 1: 1963
Value in column 2: 28-Nov-63
Value in column 3: nan
Value in column 4: Ethiopia
Value in column 5:  Tunisia
Value in column 6: nan
Value in column 7: 2.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Accra Sports Stadium
Value in column 11:  Accra
Value in column 12: nan

Row index: 13
Value in column 1: 1963
Value in column 2: 24-Nov-63
Value in column 3: nan
Value in column 4: Egypt
Value in column 5:  Nigeria
Value in column 6: nan
Value in column 7: 3.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Kumasi Sports Stadium
Value in column 11:  Kumasi
Value in column 12: nan

Row index: 14
Value in column 1: 1963
Value in column 2: 26-Nov-63
Value in column 3: nan
Value in column 4: Egypt
Value in column 5:  Sudan
Value in column 6: nan
Value in column 7: 2.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Kumasi Sports Stadium
Value in column 11:  Kumasi
Value in column 12: nan

Row index: 15
Value in column 1: 1963
Value in column 2: 28-Nov-63
Value in column 3: nan
Value in column 4: Sudan
Value in column 5:  Nigeria
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Kumasi Sports Stadium
Value in column 11:  Kumasi
Value in column 12: nan

Row index: 16
Value in column 1: 1963
Value in column 2: 30-Nov-63
Value in column 3: nan
Value in column 4: Egypt
Value in column 5:  Ethiopia
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Third place match
Value in column 9: nan
Value in column 10: Accra Sports Stadium
Value in column 11:  Accra
Value in column 12: nan

Row index: 17
Value in column 1: 1963
Value in column 2: 1-Dec-63
Value in column 3: nan
Value in column 4: Ghana
Value in column 5:  Sudan
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Final
Value in column 9: nan
Value in column 10: Accra Sports Stadium
Value in column 11:  Accra
Value in column 12: nan

Row index: 18
Value in column 1: 1965
Value in column 2: 12-Nov-65
Value in column 3: nan
Value in column 4: Tunisia
Value in column 5:  Ethiopia
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Stade Chedli Zouiten
Value in column 11:  Tunis
Value in column 12: 16000.0

Row index: 19
Value in column 1: 1965
Value in column 2: 14-Nov-65
Value in column 3: nan
Value in column 4: Senegal
Value in column 5:  Tunisia
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Stade Chedli Zouiten
Value in column 11:  Tunis
Value in column 12: nan

Row index: 20
Value in column 1: 1965
Value in column 2: 19-Nov-65
Value in column 3: nan
Value in column 4: Senegal
Value in column 5:  Ethiopia
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Stade Chedli Zouiten
Value in column 11:  Tunis
Value in column 12: nan

Row index: 21
Value in column 1: 1965
Value in column 2: 12-Nov-65
Value in column 3: nan
Value in column 4: Ghana
Value in column 5:  Congo-Léopoldville
Value in column 6: nan
Value in column 7: 2.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Stade Bou Ali Lahouar
Value in column 11:  Sousse
Value in column 12: nan

Row index: 22
Value in column 1: 1965
Value in column 2: 14-Nov-65
Value in column 3: nan
Value in column 4: Ivory Coast
Value in column 5:  Congo-Léopoldville
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Stade Taïeb Mhiri
Value in column 11:  Sfax
Value in column 12: nan

Row index: 23
Value in column 1: 1965
Value in column 2: 19-Nov-65
Value in column 3: nan
Value in column 4: Ghana
Value in column 5:  Ivory Coast
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Stade Ahmed Bsiri
Value in column 11:  Bizerte
Value in column 12: nan

Row index: 24
Value in column 1: 1965
Value in column 2: 21-Nov-65
Value in column 3: nan
Value in column 4: Senegal
Value in column 5:  Ivory Coast
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Third place match
Value in column 9: nan
Value in column 10: Stade Chedli Zouiten
Value in column 11:  Tunis
Value in column 12: nan

Row index: 25
Value in column 1: 1965
Value in column 2: 21-Nov-65
Value in column 3: nan
Value in column 4: Ghana
Value in column 5:  Tunisia
Value in column 6: nan
Value in column 7: 2.0
Value in column 8: Final
Value in column 9:  win after extra time
Value in column 10: Stade Chedli Zouiten
Value in column 11:  Tunis
Value in column 12: nan

Row index: 26
Value in column 1: 1968
Value in column 2: 12-Jan-68
Value in column 3: nan
Value in column 4: Ethiopia
Value in column 5:  Uganda
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Hailé Sélassié Stadium
Value in column 11:  Addis Ababa
Value in column 12: 20000.0

Row index: 27
Value in column 1: 1968
Value in column 2: 12-Jan-68
Value in column 3: nan
Value in column 4: Ivory Coast
Value in column 5:  Algeria
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Hailé Sélassié Stadium
Value in column 11:  Addis Ababa
Value in column 12: 20000.0

Row index: 28
Value in column 1: 1968
Value in column 2: 14-Jan-68
Value in column 3: nan
Value in column 4: Ethiopia
Value in column 5:  Ivory Coast
Value in column 6: 1.0
Value in column 7: 0.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Hailé Sélassié Stadium
Value in column 11:  Addis Ababa
Value in column 12: 25000.0

Row index: 29
Value in column 1: 1968
Value in column 2: 14-Jan-68
Value in column 3: nan
Value in column 4: Algeria
Value in column 5:  Uganda
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Hailé Sélassié Stadium
Value in column 11:  Addis Ababa
Value in column 12: 25000.0

Row index: 30
Value in column 1: 1968
Value in column 2: 16-Jan-68
Value in column 3: nan
Value in column 4: Ivory Coast
Value in column 5:  Uganda
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Hailé Sélassié Stadium
Value in column 11:  Addis Ababa
Value in column 12: 15000.0

Row index: 31
Value in column 1: 1968
Value in column 2: 16-Jan-68
Value in column 3: nan
Value in column 4: Ethiopia
Value in column 5:  Algeria
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Hailé Sélassié Stadium
Value in column 11:  Addis Ababa
Value in column 12: 20000.0

Row index: 32
Value in column 1: 1968
Value in column 2: 12-Jan-68
Value in column 3: nan
Value in column 4: Ghana
Value in column 5:  Senegal
Value in column 6: nan
Value in column 7: 2.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Cicero Stadium
Value in column 11:  Asmara
Value in column 12: 3000.0

Row index: 33
Value in column 1: 1968
Value in column 2: 12-Jan-68
Value in column 3: nan
Value in column 4: Congo-Kinshasa
Value in column 5:  Congo-Brazzaville
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Cicero Stadium
Value in column 11:  Asmara
Value in column 12: 4000.0

Row index: 34
Value in column 1: 1968
Value in column 2: 14-Jan-68
Value in column 3: nan
Value in column 4: Senegal
Value in column 5:  Congo-Brazzaville
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Cicero Stadium
Value in column 11:  Asmara
Value in column 12: 3000.0

Row index: 35
Value in column 1: 1968
Value in column 2: 14-Jan-68
Value in column 3: nan
Value in column 4: Ghana
Value in column 5:  Congo-Kinshasa
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Cicero Stadium
Value in column 11:  Asmara
Value in column 12: 3000.0

Row index: 36
Value in column 1: 1968
Value in column 2: 16-Jan-68
Value in column 3: nan
Value in column 4: Congo-Kinshasa
Value in column 5:  Senegal
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Cicero Stadium
Value in column 11:  Asmara
Value in column 12: 3000.0

Row index: 37
Value in column 1: 1968
Value in column 2: 16-Jan-68
Value in column 3: nan
Value in column 4: Ghana
Value in column 5:  Congo-Brazzaville
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Cicero Stadium
Value in column 11:  Asmara
Value in column 12: 3000.0

Row index: 38
Value in column 1: 1968
Value in column 2: 19-Jan-68
Value in column 3: nan
Value in column 4: Ethiopia
Value in column 5:  Congo-Kinshasa
Value in column 6: nan
Value in column 7: 3.0
Value in column 8: Semi-finals
Value in column 9:  win after extra time
Value in column 10: Hailé Sélassié Stadium
Value in column 11:  Addis Ababa
Value in column 12: 25000.0

Row index: 39
Value in column 1: 1968
Value in column 2: 19-Jan-68
Value in column 3: nan
Value in column 4: Ghana
Value in column 5:  Ivory Coast
Value in column 6: nan
Value in column 7: 3.0
Value in column 8: Semi-finals
Value in column 9:  win after extra time
Value in column 10: Cicero Stadium
Value in column 11:  Asmara
Value in column 12: 5000.0

Row index: 40
Value in column 1: 1968
Value in column 2: 21-Jan-68
Value in column 3: nan
Value in column 4: Ivory Coast
Value in column 5:  Ethiopia
Value in column 6: 1.0
Value in column 7: 0.0
Value in column 8: Third place match
Value in column 9: nan
Value in column 10: Hailé Sélassié Stadium
Value in column 11:  Addis Ababa
Value in column 12: 10000.0

Row index: 41
Value in column 1: 1968
Value in column 2: 21-Jan-68
Value in column 3: nan
Value in column 4: Congo-Kinshasa
Value in column 5:  Ghana
Value in column 6: 1.0
Value in column 7: 0.0
Value in column 8: Final
Value in column 9: nan
Value in column 10: Hailé Sélassié Stadium
Value in column 11:  Addis Ababa
Value in column 12: 25000.0

Row index: 42
Value in column 1: 1970
Value in column 2: 6-Feb-70
Value in column 3: nan
Value in column 4: Cameroon
Value in column 5:  Ivory Coast
Value in column 6: nan
Value in column 7: 2.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Municipal Stadium
Value in column 11:  Khartoum
Value in column 12: 14464.0

Row index: 43
Value in column 1: 1970
Value in column 2: 6-Feb-70
Value in column 3: nan
Value in column 4: Sudan
Value in column 5:  Ethiopia
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Municipal Stadium
Value in column 11:  Khartoum
Value in column 12: 14464.0

Row index: 44
Value in column 1: 1970
Value in column 2: 8-Feb-70
Value in column 3: nan
Value in column 4: Cameroon
Value in column 5:  Ethiopia
Value in column 6: nan
Value in column 7: 2.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Municipal Stadium
Value in column 11:  Khartoum
Value in column 12: 9864.0

Row index: 45
Value in column 1: 1970
Value in column 2: 8-Feb-70
Value in column 3: nan
Value in column 4: Ivory Coast
Value in column 5:  Sudan
Value in column 6: 1.0
Value in column 7: 0.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Municipal Stadium
Value in column 11:  Khartoum
Value in column 12: 9864.0

Row index: 46
Value in column 1: 1970
Value in column 2: 10-Feb-70
Value in column 3: nan
Value in column 4: Ivory Coast
Value in column 5:  Ethiopia
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Municipal Stadium
Value in column 11:  Khartoum
Value in column 12: 9770.0

Row index: 47
Value in column 1: 1970
Value in column 2: 10-Feb-70
Value in column 3: nan
Value in column 4: Sudan
Value in column 5:  Cameroon
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Municipal Stadium
Value in column 11:  Khartoum
Value in column 12: 9770.0

Row index: 48
Value in column 1: 1970
Value in column 2: 7-Feb-70
Value in column 3: nan
Value in column 4: Ghana
Value in column 5:  Congo-Kinshasa
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Wad Madani Stadium
Value in column 11:  Wad Medani
Value in column 12: 7525.0

Row index: 49
Value in column 1: 1970
Value in column 2: 7-Feb-70
Value in column 3: nan
Value in column 4: United Arab Rep.
Value in column 5:  Guinea
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Wad Madani Stadium
Value in column 11:  Wad Medani
Value in column 12: 7525.0

Row index: 50
Value in column 1: 1970
Value in column 2: 9-Feb-70
Value in column 3: nan
Value in column 4: Congo-Kinshasa
Value in column 5:  Guinea
Value in column 6: nan
Value in column 7: 2.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Wad Madani Stadium
Value in column 11:  Wad Medani
Value in column 12: 3342.0

Row index: 51
Value in column 1: 1970
Value in column 2: 9-Feb-70
Value in column 3: nan
Value in column 4: United Arab Rep.
Value in column 5:  Ghana
Value in column 6: 1.0
Value in column 7: 1.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Wad Madani Stadium
Value in column 11:  Wad Medani
Value in column 12: 3342.0

Row index: 52
Value in column 1: 1970
Value in column 2: 11-Feb-70
Value in column 3: nan
Value in column 4: Guinea
Value in column 5:  Ghana
Value in column 6: 1.0
Value in column 7: 1.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Wad Madani Stadium
Value in column 11:  Wad Medani
Value in column 12: 3927.0

Row index: 53
Value in column 1: 1970
Value in column 2: 11-Feb-70
Value in column 3: nan
Value in column 4: United Arab Rep.
Value in column 5:  Congo-Kinshasa
Value in column 6: 1.0
Value in column 7: 0.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Wad Madani Stadium
Value in column 11:  Wad Medani
Value in column 12: 3927.0

Row index: 54
Value in column 1: 1970
Value in column 2: 14-Feb-70
Value in column 3: nan
Value in column 4: Ivory Coast
Value in column 5:  Ghana
Value in column 6: 1.0
Value in column 7: 2.0
Value in column 8: Semifinals
Value in column 9:  win after extra time
Value in column 10: Municipal Stadium
Value in column 11:  Khartoum
Value in column 12: 12350.0

Row index: 55
Value in column 1: 1970
Value in column 2: 14-Feb-70
Value in column 3: nan
Value in column 4: United Arab Rep.
Value in column 5:  Sudan
Value in column 6: 1.0
Value in column 7: 2.0
Value in column 8: Semifinals
Value in column 9:  win after extra time
Value in column 10: Municipal Stadium
Value in column 11:  Khartoum
Value in column 12: 12350.0

Row index: 56
Value in column 1: 1970
Value in column 2: 16-Feb-70
Value in column 3: nan
Value in column 4: United Arab Rep.
Value in column 5:  Ivory Coast
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Third place match
Value in column 9: nan
Value in column 10: Municipal Stadium
Value in column 11:  Khartoum
Value in column 12: 12187.0

Row index: 57
Value in column 1: 1970
Value in column 2: 16-Feb-70
Value in column 3: nan
Value in column 4: Sudan
Value in column 5:  Ghana
Value in column 6: 1.0
Value in column 7: 0.0
Value in column 8: Final
Value in column 9: nan
Value in column 10: Municipal Stadium
Value in column 11:  Khartoum
Value in column 12: 102187.0

Row index: 58

Row index: 349
Value in column 1: 2000
Value in column 2: 7-Feb-00
Value in column 3: 19:00
Value in column 4: Nigeria
Value in column 5:  Senegal
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Quarterfinals
Value in column 9:  win after extra time
Value in column 10: National Stadium
Value in column 11:  Lagos
Value in column 12: 60000.0

Row index: 350
Value in column 1: 2000
Value in column 2: 10-Feb-00
Value in column 3: 16:30
Value in column 4: Nigeria
Value in column 5:  South Africa
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Semifinals
Value in column 9: nan
Value in column 10: National Stadium
Value in column 11:  Lagos
Value in column 12: 60000.0

Row index: 351
Value in column 1: 2000
Value in column 2: 10-Feb-00
Value in column 3: 18:30
Value in column 4: Cameroon
Value in column 5:  Tunisia
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Semifinals
Value in column 9: nan
Value in column 10: Accra Sports Stadium
Value in column 11:  Accra
Value in column 12: 6000.0

Row index: 352
Value in column 1: 2000
Value in column 2: 12-Feb-00
Value in column 3: 16:00
Value in column 4: South Africa
Value in column 5:  Tunisia
Value in column 6: nan
Value in column 7: 2.0
Value in column 8: Third place match
Value in column 9: South Africa  win on Penalities 4-3
Value in column 10: Accra Sports Stadium
Value in column 11:  Accra
Value in column 12: 1000.0

Row index: 353
Value in column 1: 2000
Value in column 2: 13-Feb-00
Value in column 3: 16:00
Value in column 4: Nigeria
Value in column 5:  Cameroon
Value in column 6: nan
Value in column 7: 2.0
Value in column 8: Final
Value in column 9:  Cameroon win on Penalities 3-4
Value in column 10: National Stadium
Value in column 11:  Lagos
Value in column 12: 60000.0

Row index: 354
Value in column 1: 2002
Value in column 2: 19-Jan-02
Value in column 3: 16:00
Value in column 4: Mali
Value in column 5:  Liberia
Value in column 6: 1.0
Value in column 7: 1.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Stade du 26 Mars
Value in column 11:  Bamako
Value in column 12: 50000.0

Row index: 355
Value in column 1: 2002
Value in column 2: 21-Jan-02
Value in column 3: 16:00
Value in column 4: Algeria
Value in column 5:  Nigeria
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Stade du 26 Mars
Value in column 11:  Bamako
Value in column 12: 10000.0

Row index: 356
Value in column 1: 2002
Value in column 2: 24-Jan-02
Value in column 3: 19:00
Value in column 4: Mali
Value in column 5:  Nigeria
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Stade du 26 Mars
Value in column 11:  Bamako
Value in column 12: 50000.0

Row index: 357
Value in column 1: 2002
Value in column 2: 25-Jan-02
Value in column 3: 19:30
Value in column 4: Liberia
Value in column 5:  Algeria
Value in column 6: nan
Value in column 7: 2.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Stade du 26 Mars
Value in column 11:  Bamako
Value in column 12: 4000.0

Row index: 358
Value in column 1: 2002
Value in column 2: 28-Jan-02
Value in column 3: 18:00
Value in column 4: Mali
Value in column 5:  Algeria
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Stade du 26 Mars
Value in column 11:  Bamako
Value in column 12: 50000.0

Row index: 359
Value in column 1: 2002
Value in column 2: 28-Jan-02
Value in column 3: 18:00
Value in column 4: Liberia
Value in column 5:  Nigeria
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Stade Barema Bocoum
Value in column 11:  Mopti
Value in column 12: 9000.0

Row index: 360
Value in column 1: 2002
Value in column 2: 20-Jan-02
Value in column 3: 19:30
Value in column 4: South Africa
Value in column 5:  Burkina Faso
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Stade Amare Daou
Value in column 11:  Ségou
Value in column 12: 12000.0

Row index: 361
Value in column 1: 2002
Value in column 2: 21-Jan-02
Value in column 3: 16:00
Value in column 4: Morocco
Value in column 5:  Ghana
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Stade Amare Daou
Value in column 11:  Ségou
Value in column 12: 4000.0

Row index: 362
Value in column 1: 2002
Value in column 2: 24-Jan-02
Value in column 3: 16:00
Value in column 4: South Africa
Value in column 5:  Ghana
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Stade Amare Daou
Value in column 11:  Ségou
Value in column 12: 5000.0

Row index: 363
Value in column 1: 2002
Value in column 2: 26-Jan-02
Value in column 3: 15:30
Value in column 4: Burkina Faso
Value in column 5:  Morocco
Value in column 6: 1.0
Value in column 7: 2.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Stade Amare Daou
Value in column 11:  Ségou
Value in column 12: 6000.0

Row index: 364
Value in column 1: 2002
Value in column 2: 30-Jan-02
Value in column 3: 16:00
Value in column 4: South Africa
Value in column 5:  Morocco
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Stade Amare Daou
Value in column 11:  Ségou
Value in column 12: 3000.0

Row index: 365
Value in column 1: 2002
Value in column 2: 30-Jan-02
Value in column 3: 16:00
Value in column 4: Burkina Faso
Value in column 5:  Ghana
Value in column 6: 1.0
Value in column 7: 2.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Stade Barema Bocoum
Value in column 11:  Mopti
Value in column 12: 15000.0

Row index: 366
Value in column 1: 2002
Value in column 2: 20-Jan-02
Value in column 3: 17:30
Value in column 4: Cameroon
Value in column 5:  DR Congo
Value in column 6: 1.0
Value in column 7: 0.0
Value in column 8: Group C
Value in column 9: nan
Value in column 10: Stade Babemba Traoré
Value in column 11:  Sikasso
Value in column 12: 15000.0

Row index: 367
Value in column 1: 2002
Value in column 2: 21-Jan-02
Value in column 3: 18:00
Value in column 4: Togo
Value in column 5:  Ivory Coast
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group C
Value in column 9: nan
Value in column 10: Stade Babemba Traoré
Value in column 11:  Sikasso
Value in column 12: 15000.0

Row index: 368
Value in column 1: 2002
Value in column 2: 25-Jan-02
Value in column 3: 17:30
Value in column 4: Cameroon
Value in column 5:  Ivory Coast
Value in column 6: 1.0
Value in column 7: 0.0
Value in column 8: Group C
Value in column 9: nan
Value in column 10: Stade Babemba Traoré
Value in column 11:  Sikasso
Value in column 12: 15000.0

Row index: 369
Value in column 1: 2002
Value in column 2: 26-Jan-02
Value in column 3: 17:30
Value in column 4: DR Congo
Value in column 5:  Togo
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group C
Value in column 9: nan
Value in column 10: Stade Babemba Traoré
Value in column 11:  Sikasso
Value in column 12: 7000.0

Row index: 370
Value in column 1: 2002
Value in column 2: 29-Jan-02
Value in column 3: 16:00
Value in column 4: Cameroon
Value in column 5:  Togo
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group C
Value in column 9: nan
Value in column 10: Stade Babemba Traoré
Value in column 11:  Sikasso
Value in column 12: 6000.0

Row index: 371
Value in column 1: 2002
Value in column 2: 29-Jan-02
Value in column 3: 16:00
Value in column 4: DR Congo
Value in column 5:  Ivory Coast
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group C
Value in column 9: nan
Value in column 10: Stade Abdoulaye Nakoro Cissoko
Value in column 11:  Kayes
Value in column 12: 12000.0

Row index: 372
Value in column 1: 2002
Value in column 2: 20-Jan-02
Value in column 3: 15:30
Value in column 4: Egypt
Value in column 5:  Senegal
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group D
Value in column 9: nan
Value in column 10: Stade Modibo Kéïta
Value in column 11:  Bamako
Value in column 12: 20000.0

Row index: 373
Value in column 1: 2002
Value in column 2: 21-Jan-02
Value in column 3: 19:00
Value in column 4: Zambia
Value in column 5:  Tunisia
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group D
Value in column 9: nan
Value in column 10: Stade Modibo Kéïta
Value in column 11:  Bamako
Value in column 12: 6000.0

Row index: 374
Value in column 1: 2002
Value in column 2: 25-Jan-02
Value in column 3: 15:30
Value in column 4: Egypt
Value in column 5:  Tunisia
Value in column 6: 1.0
Value in column 7: 0.0
Value in column 8: Group D
Value in column 9: nan
Value in column 10: Stade Modibo Kéïta
Value in column 11:  Bamako
Value in column 12: 3000.0

Row index: 375
Value in column 1: 2002
Value in column 2: 26-Jan-02
Value in column 3: 19:30
Value in column 4: Senegal
Value in column 5:  Zambia
Value in column 6: 1.0
Value in column 7: 0.0
Value in column 8: Group D
Value in column 9: nan
Value in column 10: Stade Modibo Kéïta
Value in column 11:  Bamako
Value in column 12: 20000.0

Row index: 376
Value in column 1: 2002
Value in column 2: 31-Jan-02
Value in column 3: 16:00
Value in column 4: Egypt
Value in column 5:  Zambia
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group D
Value in column 9: nan
Value in column 10: Stade Modibo Kéïta
Value in column 11:  Bamako
Value in column 12: 10000.0

Row index: 377
Value in column 1: 2002
Value in column 2: 31-Jan-02
Value in column 3: 16:00
Value in column 4: Senegal
Value in column 5:  Tunisia
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group D
Value in column 9: nan
Value in column 10: Stade Abdoulaye Nakoro Cissoko
Value in column 11:  Kayes
Value in column 12: 8000.0

Row index: 378
Value in column 1: 2002
Value in column 2: 3-Feb-02
Value in column 3: 16:00
Value in column 4: South Africa
Value in column 5:  Mali
Value in column 6: nan
Value in column 7: 2.0
Value in column 8: Quarterfinals
Value in column 9: nan
Value in column 10: Stade Abdoulaye Nakoro Cissoko
Value in column 11:  Kayes
Value in column 12: 15000.0

Row index: 379
Value in column 1: 2002
Value in column 2: 3-Feb-02
Value in column 3: 19:00
Value in column 4: Nigeria
Value in column 5:  Ghana
Value in column 6: 1.0
Value in column 7: 0.0
Value in column 8: Quarterfinals
Value in column 9: nan
Value in column 10: Stade du 26 Mars
Value in column 11:  Bamako
Value in column 12: 25000.0

Row index: 380
Value in column 1: 2002
Value in column 2: 4-Feb-02
Value in column 3: 16:00
Value in column 4: Cameroon
Value in column 5:  Egypt
Value in column 6: 1.0
Value in column 7: 0.0
Value in column 8: Quarterfinals
Value in column 9: nan
Value in column 10: Stade Babemba Traoré
Value in column 11:  Sikasso
Value in column 12: 15000.0

Row index: 381
Value in column 1: 2002
Value in column 2: 4-Feb-02
Value in column 3: 19:00
Value in column 4: Senegal
Value in column 5:  DR Congo
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Quarterfinals
Value in column 9: nan
Value in column 10: Stade Modibo Keïta
Value in column 11:  Bamako
Value in column 12: 25000.0

Row index: 382
Value in column 1: 2002
Value in column 2: 7-Feb-02
Value in column 3: 16:00
Value in column 4: Nigeria
Value in column 5:  Senegal
Value in column 6: 1.0
Value in column 7: 2.0
Value in column 8: Semifinals
Value in column 9:  win after extra time
Value in column 10: Stade Modibo Keïta
Value in column 11:  Bamako
Value in column 12: 20000.0

Row index: 383
Value in column 1: 2002
Value in column 2: 7-Feb-02
Value in column 3: 19:00
Value in column 4: Mali
Value in column 5:  Cameroon
Value in column 6: nan
Value in column 7: 3.0
Value in column 8: Semifinals
Value in column 9: nan
Value in column 10: Stade du 26 Mars
Value in column 11:  Bamako
Value in column 12: 50000.0

Row index: 384
Value in column 1: 2002
Value in column 2: 9-Feb-02
Value in column 3: 16:00
Value in column 4: Nigeria
Value in column 5:  Mali
Value in column 6: 1.0
Value in column 7: 0.0
Value in column 8: Third place match
Value in column 9: nan
Value in column 10: Stade Barema Bocoum
Value in column 11:  Mopti
Value in column 12: 15000.0

Row index: 385
Value in column 1: 2002
Value in column 2: 10-Feb-02
Value in column 3: 16:00
Value in column 4: Senegal
Value in column 5:  Cameroon
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Final
Value in column 9:  Cameroon win on Penalities 2-3
Value in column 10: Stade du 26 Mars
Value in column 11:  Bamako
Value in column 12: 50000.0

Row index: 386
Value in column 1: 2004
Value in column 2: 24-Jan-04
Value in column 3: 19:30
Value in column 4: Tunisia
Value in column 5:  Rwanda
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Stade 7 Novembre
Value in column 11:  Radès
Value in column 12: 60000.0

Row index: 387
Value in column 1: 2004
Value in column 2: 25-Jan-04
Value in column 3: 14:00
Value in column 4: DR Congo
Value in column 5:  Guinea
Value in column 6: 1.0
Value in column 7: 2.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Stade El Menzah
Value in column 11:  Tunis
Value in column 12: 2000.0

Row index: 388
Value in column 1: 2004
Value in column 2: 28-Jan-04
Value in column 3: 14:00
Value in column 4: Rwanda
Value in column 5:  Guinea
Value in column 6: 1.0
Value in column 7: 1.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Stade 15 Octobre
Value in column 11:  Bizerte
Value in column 12: 4000.0

Row index: 389
Value in column 1: 2004
Value in column 2: 28-Jan-04
Value in column 3: 16:15
Value in column 4: Tunisia
Value in column 5:  DR Congo
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Stade 7 Novembre
Value in column 11:  Radès
Value in column 12: 60000.0

Row index: 390
Value in column 1: 2004
Value in column 2: 1-Feb-04
Value in column 3: 14:00
Value in column 4: Tunisia
Value in column 5:  Guinea
Value in column 6: 1.0
Value in column 7: 1.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Stade 7 Novembre
Value in column 11:  Radès
Value in column 12: 35000.0

Row index: 391
Value in column 1: 2004
Value in column 2: 1-Feb-04
Value in column 3: 14:00
Value in column 4: Rwanda
Value in column 5:  DR Congo
Value in column 6: 1.0
Value in column 7: 0.0
Value in column 8: Group A
Value in column 9: nan
Value in column 10: Stade 15 Octobre
Value in column 11:  Bizerte
Value in column 12: 700.0

Row index: 392
Value in column 1: 2004
Value in column 2: 26-Jan-04
Value in column 3: 14:00
Value in column 4: Kenya
Value in column 5:  Mali
Value in column 6: 1.0
Value in column 7: 3.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Stade 15 Octobre
Value in column 11:  Bizerte
Value in column 12: 6000.0

Row index: 393
Value in column 1: 2004
Value in column 2: 26-Jan-04
Value in column 3: 19:00
Value in column 4: Senegal
Value in column 5:  Burkina Faso
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Stade El Menzah
Value in column 11:  Tunis
Value in column 12: 2000.0

Row index: 394
Value in column 1: 2004
Value in column 2: 30-Jan-04
Value in column 3: 14:00
Value in column 4: Senegal
Value in column 5:  Kenya
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Stade 15 Octobre
Value in column 11:  Bizerte
Value in column 12: 13500.0

Row index: 395
Value in column 1: 2004
Value in column 2: 30-Jan-04
Value in column 3: 19:00
Value in column 4: Burkina Faso
Value in column 5:  Mali
Value in column 6: 1.0
Value in column 7: 3.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Stade El Menzah
Value in column 11:  Tunis
Value in column 12: 1500.0

Row index: 396
Value in column 1: 2004
Value in column 2: 2-Feb-04
Value in column 3: 14:00
Value in column 4: Senegal
Value in column 5:  Mali
Value in column 6: 1.0
Value in column 7: 1.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Stade El Menzah
Value in column 11:  Tunis
Value in column 12: 7550.0

Row index: 397
Value in column 1: 2004
Value in column 2: 2-Feb-04
Value in column 3: 14:00
Value in column 4: Burkina Faso
Value in column 5:  Kenya
Value in column 6: nan
Value in column 7: 3.0
Value in column 8: Group B
Value in column 9: nan
Value in column 10: Stade 15 Octobre
Value in column 11:  Bizerte
Value in column 12: 4550.0

Row index: 398
Value in column 1: 2004
Value in column 2: 25-Jan-04
Value in column 3: 16:30
Value in column 4: Zimbabwe
Value in column 5:  Egypt
Value in column 6: 1.0
Value in column 7: 2.0
Value in column 8: Group C
Value in column 9: nan
Value in column 10: Stade Taïeb El Mhiri
Value in column 11:  Sfax
Value in column 12: 22000.0

Row index: 399
Value in column 1: 2004
Value in column 2: 25-Jan-04
Value in column 3: 19:00
Value in column 4: Cameroon
Value in column 5:  Algeria
Value in column 6: 1.0
Value in column 7: 1.0
Value in column 8: Group C
Value in column 9: nan
Value in column 10: Stade Olympique de Sousse
Value in column 11:  Sousse
Value in column 12: 20000.0

Row index: 400
Value in column 1: 2004
Value in column 2: 29-Jan-04
Value in column 3: 16:30
Value in column 4: Cameroon
Value in column 5:  Zimbabwe
Value in column 6: nan
Value in column 7: 3.0
Value in column 8: Group C
Value in column 9: nan
Value in column 10: Stade Taïeb El Mhiri
Value in column 11:  Sfax
Value in column 12: 15000.0

Row index: 401
Value in column 1: 2004
Value in column 2: 29-Jan-04
Value in column 3: 19:00
Value in column 4: Algeria
Value in column 5:  Egypt
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group C
Value in column 9: nan
Value in column 10: Stade Olympique de Sousse
Value in column 11:  Sousse
Value in column 12: 15000.0

Row index: 402
Value in column 1: 2004
Value in column 2: 3-Feb-04
Value in column 3: 14:00
Value in column 4: Cameroon
Value in column 5:  Egypt
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group C
Value in column 9: nan
Value in column 10: Stade Mustapha Ben Jannet
Value in column 11:  Monastir
Value in column 12: 20000.0

Row index: 403
Value in column 1: 2004
Value in column 2: 3-Feb-04
Value in column 3: 14:00
Value in column 4: Algeria
Value in column 5:  Zimbabwe
Value in column 6: 1.0
Value in column 7: 2.0
Value in column 8: Group C
Value in column 9: nan
Value in column 10: Stade Olympique de Sousse
Value in column 11:  Sousse
Value in column 12: 10000.0

Row index: 404
Value in column 1: 2004
Value in column 2: 27-Jan-04
Value in column 3: 14:00
Value in column 4: Nigeria
Value in column 5:  Morocco
Value in column 6: nan
Value in column 7: 1.0
Value in column 8: Group D
Value in column 9: nan
Value in column 10: Stade Mustapha Ben Jannet
Value in column 11:  Monastir
Value in column 12: 15000.0

Row index: 405
Value in column 1: 2004
Value in column 2: 27-Jan-04
Value in column 3: 18:00
Value in column 4: South Africa
Value in column 5:  Benin
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group D
Value in column 9: nan
Value in column 10: Stade Taïeb El Mhiri
Value in column 11:  Sfax
Value in column 12: 12000.0

Row index: 406
Value in column 1: 2004
Value in column 2: 31-Jan-04
Value in column 3: 14:00
Value in column 4: Nigeria
Value in column 5:  South Africa
Value in column 6: nan
Value in column 7: 0.0
Value in column 8: Group D
Value in column 9: nan
Value in column 10: Stade Mustapha Ben Jannet
Value in column 11:  Monastir
Value in column 12: 15000.0

Row index: 407
Value in column 1: 2004
Value in column 2: 31-Jan-04

Pandas program to change the order of your DataFrame columns.

In [52]:
print(df.columns)

Index(['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals',
       'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City',
       'Attendance', 'bestteam'],
      dtype='object')

In [54]:
desired_columns = ['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals',
       'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City',
       'Attendance', 'bestteam']
df = df.reindex(columns=desired_columns)
print(df)

     Year                     Date   Time      HomeTeam       AwayTeam  \
0    1957                 10-Feb-57    NaN       Sudan           Egypt
1    1957                 10-Feb-57    NaN    Ethiopia    South Africa
2    1957                 16-Feb-57    NaN       Egypt        Ethiopia
3    1959                 22-May-59    NaN        Egypt       Ethiopia
4    1959                 25-May-59    NaN       Sudan        Ethiopia
..    ...                       ...    ...          ...            ...
607  2019  5 July 2019 (2019-07-05)  21:00      Uganda         Senegal
608  2019  6 July 2019 (2019-07-06)  18:00     Nigeria        Cameroon
609  2019  6 July 2019 (2019-07-06)  21:00       Egypt    South Africa
610  2019  7 July 2019 (2019-07-07)  18:00  Madagascar        DR Congo
611  2019  7 July 2019 (2019-07-07)  21:00     Algeria          Guinea

     HomeTeamGoals  AwayTeamGoals             Stage  \
0              1.0            2.0        Semifinals
1              NaN            NaN        Semifinals
2              NaN           10.0             Final
3              NaN            0.0  Final Tournament
4              1.0            0.0  Final Tournament
..             ...            ...               ...
607            NaN            1.0       Round of 16
608            NaN            2.0       Round of 16
609            NaN            1.0       Round of 16
610            NaN            2.0       Round of 16
611            NaN            0.0       Round of 16

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
607                                                NaN
608                                                NaN
609                                                NaN
610                  Madagascar  win on Penalities 4-2
611                                                NaN

                         Stadium         City  Attendance bestteam
0              Municipal Stadium     Khartoum     30000.0    Egypt
1                            NaN          NaN         NaN    Egypt
2              Municipal Stadium     Khartoum     30000.0    Egypt
3          Prince Farouk Stadium        Cairo     30000.0    Egypt
4          Prince Farouk Stadium        Cairo     20000.0    Egypt
..                           ...          ...         ...      ...
607  Cairo International Stadium        Cairo      6950.0    Egypt
608           Alexandria Stadium   Alexandria     10000.0    Egypt
609  Cairo International Stadium        Cairo     75000.0    Egypt
610           Alexandria Stadium   Alexandria      5890.0    Egypt
611              30 June Stadium        Cairo      8205.0    Egypt

[612 rows x 13 columns]

Pandas program to delete DataFrame row(s) whose value is 0 in the ‘HomeTeamGoals’ columns.

In [50]:
df = df[df['HomeTeamGoals'] != 0]
print(df)

     Year                     Date   Time      HomeTeam       AwayTeam  \
0    1957                 10-Feb-57    NaN       Sudan           Egypt
1    1957                 10-Feb-57    NaN    Ethiopia    South Africa
2    1957                 16-Feb-57    NaN       Egypt        Ethiopia
3    1959                 22-May-59    NaN        Egypt       Ethiopia
4    1959                 25-May-59    NaN       Sudan        Ethiopia
..    ...                       ...    ...          ...            ...
607  2019  5 July 2019 (2019-07-05)  21:00      Uganda         Senegal
608  2019  6 July 2019 (2019-07-06)  18:00     Nigeria        Cameroon
609  2019  6 July 2019 (2019-07-06)  21:00       Egypt    South Africa
610  2019  7 July 2019 (2019-07-07)  18:00  Madagascar        DR Congo
611  2019  7 July 2019 (2019-07-07)  21:00     Algeria          Guinea

     HomeTeamGoals  AwayTeamGoals             Stage  \
0              1.0            2.0        Semifinals
1              NaN            NaN        Semifinals
2              NaN           10.0             Final
3              NaN            0.0  Final Tournament
4              1.0            0.0  Final Tournament
..             ...            ...               ...
607            NaN            1.0       Round of 16
608            NaN            2.0       Round of 16
609            NaN            1.0       Round of 16
610            NaN            2.0       Round of 16
611            NaN            0.0       Round of 16

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
607                                                NaN
608                                                NaN
609                                                NaN
610                  Madagascar  win on Penalities 4-2
611                                                NaN

                         Stadium         City  Attendance bestteam
0              Municipal Stadium     Khartoum     30000.0    Egypt
1                            NaN          NaN         NaN    Egypt
2              Municipal Stadium     Khartoum     30000.0    Egypt
3          Prince Farouk Stadium        Cairo     30000.0    Egypt
4          Prince Farouk Stadium        Cairo     20000.0    Egypt
..                           ...          ...         ...      ...
607  Cairo International Stadium        Cairo      6950.0    Egypt
608           Alexandria Stadium   Alexandria     10000.0    Egypt
609  Cairo International Stadium        Cairo     75000.0    Egypt
610           Alexandria Stadium   Alexandria      5890.0    Egypt
611              30 June Stadium        Cairo      8205.0    Egypt

[612 rows x 13 columns]