In [4]:
import pandas as pd

# Creating a dictionary
data = {'Name': ['Willy', 'Amooti', 'Kcee', 'David'],
        'Age': [21, 22, 25, 30],
        'City': ['New York', 'London', 'Paris', 'Tokyo']}

# Creating a DataFrame 
df = pd.DataFrame(data)
print(df)

     Name  Age      City
0   Willy   21  New York
1  Amooti   22    London
2    Kcee   25     Paris
3   David   30     Tokyo